[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/Arc-Theme-Colora-Collection: Arc colora themes made on Linux Mint for use on Linux Mint
Type=Link
URL=https://github.com/erikdubois/Arc-Theme-Colora-Collection
Icon=text-html
