[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - erikdubois/Arc-Theme-Colora: Changing the colour of the standard Arc Theme via scripts
Type=Link
URL=https://github.com/erikdubois/Arc-Theme-Colora
Icon=text-html
