[Desktop Entry]
Encoding=UTF-8
Name=Link to GitHub - erikdubois/Mint-Y-Colora-Theme-Collection: Mint-Y themes made on Linux Mint for use on Linux Mint
Type=Link
URL=https://github.com/erikdubois/Mint-Y-Colora-Theme-Collection
Icon=text-html
